* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
    max-height: 100vw;
    background: url('../img/fundo.png') repeat scroll;
}
body {
    max-width: 50%;
    height: auto;
    background: bisque;
    margin: auto;
}

#topo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#topo img{
    width: 100%;
    border: 10px groove pink;
}

#topo #menu {
    display: flex;
    justify-content: center;
    background: rgb(255, 179, 179);
    width: 100%;
    height: 60px;
    border: 10px unset pink;
}

#topo #menu #lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

#topo #menu .link{
    text-decoration: none;
    color: rgb(88, 82, 86);
    font-size: 15pt;
    font-weight: 900;
    padding: 0.9em 75px 0.9em 75px;
}

#topo #menu .link:hover {
    background: rgb(219, 154, 165);
    text-decoration: underline;
}

#conteudo {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#conteudo #titulo {
    margin-bottom: 50px;
    font-size: 30px;
}

#conteudo .texto {
    font-size: 20px;
    margin-top: 10px;
}

#rodape {
    margin-top: 100px;
}

#rodape p {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

@media (max-width: 414px) {
    
    body {
        max-width: 100%;
        margin: 0;
    }
    
    #topo {
        width: 100%;
    }

    #topo #menu {
        width: 100%;
        height: 40px;
        border: 5px unset pink;
    }

    #topo #menu #lista {
        justify-content: space-around;
    }

    #topo #menu .link {
        font-size: 14px;
        padding: 11px 5px;
    }

    #conteudo {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #conteudo #titulo {
        margin: 0;
        font-size: 20px;
    }

    #conteudo .texto {
        font-size: 15px;
        margin-top: 10px;
    }

    #rodape {
        margin-top: 50px;
    }

    #rodape p {
        text-align: center;
        font-size: 12px;
        padding: 20px;
    }
    
}