* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
    max-height: 100vw;
    background: url('../img/fundo.png') repeat scroll;
}
body {
    max-width: 50%;
    height: auto;
    background: bisque;
    margin: auto;
}

#topo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#topo img{
    width: 100%;
    border: 10px groove pink;
}

#topo #menu {
    display: flex;
    justify-content: center;
    background: rgb(255, 179, 179);
    width: 100%;
    height: 60px;
    border: 10px unset pink;
}

#topo #menu #lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}

#topo #menu .link{
    text-decoration: none;
    color: rgb(88, 82, 86);
    font-size: 12pt;
    font-weight: 900;
    padding: 0.9em 75px 0.9em 75px;
}

#topo #menu .link:hover {
    background: rgb(219, 154, 165);
    text-decoration: underline;
}

#conteudo {
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

#conteudo #titulo {
    margin-bottom: 50px;
    font-size: 30px;
}

#conteudo #formulario #nome, #email, #assunto {
    width: 200px;
    height: 25px;
}

#conteudo #formulario #botao {
    width: 60px;
    height: 25px;
    font-size: 15px;
}

#conteudo .texto {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#conteudo span{
    font-weight: bold;
}

#rodape {
    margin-top: 100px;
}

#rodape p {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}